.recco-pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recco-pair h2 {
  margin-bottom: 0px;
}
.recco-outlets-list {
  max-height: 198px;
  overflow-y: hidden;
  width: 84%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recco-pair > h2 > span {
  font-size: 1em;
}
.the-lean {
  text-transform: lowercase;
}
.recco-na {
  color: #666;
}

.show0 {
  opacity: 0;
  animation: recco-show 1s ease-in 0.25s 1 normal forwards;
}
.show1 {
  opacity: 0;
  animation: recco-show 1s ease-in 2.25s 1 normal forwards;
}
.show2 {
  opacity: 0;
  animation: recco-show 1s ease-in 4.25s 1 normal forwards;
}

@keyframes recco-show {
  from { opacity: 0; }
  to { opacity: 1; }
}