.pager {
  /* >85% of worldwide desktop traffic will see these dimensions. */
  width: 1024px;
  min-width: 1024px;
  height: 576px;
  min-height: 576px;

  /* Center in the viewport horizontally. */
  margin: auto;

  background-color: #e9e8df;
  box-shadow: 0px 0px 7px 5px #bebcb0;
}
.page {
  /* No matter the contents of this div, we want the height to be constant. */
  /* TODO: replace this with actual px value if desired. */
  height: 92%;

  /* Give the pages some breathing room. */
  margin: 5px;

  /* Horizontally and Vertically center the page contents. */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page-footer {
  height: 6%;
  padding: 0 10px;

  /* Right-align the contents of this div. */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
.page-footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-footer-cta img {
  /* Point the arrow down instead of right. */
  transform: rotate(90deg);

  position: absolute;
  opacity: 0;
  top: -60px;

  /* Have to declare them this way to get multiple simultaneous animations. */
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
  animation: show 1.5s ease 4s 1 normal forwards, bounce 1.5s ease-in-out 4s infinite;
}
.page-footer button {
  cursor: pointer;

  /* Remove default button styles. */
  background: none;
  border: none;
  padding: 0;
  outline-width: 0;

  /* And add text styles to make the buttons look like they're in a newspaper. */
  text-transform: uppercase;
  font-family: 'Coda, cursive';
  font-weight: bold;
  font-size: 1.1em;
}

@keyframes bounce {
  50% { top: -40px; }
}
@keyframes show {
  from { opacity: 0 }
  to { opacity: 1; }
}
