/*
 * Set font-family document-wide.
 * See https://fonts.google.com/specimen/Iceland?selection.family=Coda|Iceland.
 */
body {
  font-family: 'Iceland', cursive;
  color: #333;
}
h1, h2, h3, h4, h5, h6, small {
  font-family: 'Coda', cursive;
}
p, span {
  font-size: 1.5em;
}
