/*
 * Common CSS for all pages.
 * I started this file too late -
 * more things should definitely go in here to reduce duplication.
 */
.capitalize {
  text-transform: capitalize;
}

.lean-right {
  color: maroon;
}
.lean-lean-right {
  color: #f33;
}
.lean-center {
  color: green;
}
.lean-lean-left {
  color: dodgerblue;
}
.lean-left {
  color: blue;
}
